text{
    font-family:Helvetica, Arial, sans-serif;
    font-size:15px;
    pointer-events:none;
}
#chart{
    position:absolute;
    width:500px;
    height:500px;
    top:0;
    left:500;
}
#question{
    position: absolute;
    width:400px;
    height:500px;
    top:0;
    left:520px;
}
#question h1{
    font-size: 50px;
    font-weight: bold;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: absolute;
    padding: 0;
    margin: 0;
    top:50%;
    -webkit-transform:translate(0,-50%);
            transform:translate(0,-50%);
}
textarea{
    font-family: verdana;
}
.form_textarea {
    padding-top: 50px;
    padding-right: 60px;
    padding-bottom: 700px;
    padding-left: 800px;
  }