body {
    background-image: url('blue.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
h1 {
    font-family: verdana;
    font-size: 200%;
    text-align: center;
    color: white;
}
p {
    font-family: verdana;
    color: white;
    font-size: 120%;
    text-align: center;
}
text{
    font-family:Helvetica, Arial, sans-serif;
    font-size:15px;
    pointer-events:none;
}
#chart{
    position:absolute;
    width:500px;
    height:500px;
    top:50px;
    left:50px;
}
#question{
    position: absolute;
    width:400px;
    height:500px;
    top:50px;
    left:580px;
}
#question h1{
    font-size: 50px;
    font-weight: bold;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: absolute;
    padding: 0;
    margin: 0;
    top:50%;
    -webkit-transform:translate(0,-50%);
            transform:translate(0,-50%);
}
textarea{
    font-family: verdana;
}
.form_textarea {
    padding-top: 50px;
    padding-right: 60px;
    padding-bottom: 700px;
    padding-left: 800px;
  }